body, textarea, table, tr, td{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body {
	background: #A17461 url(images/img01.jpg) repeat-x;
	font-size: 0.8em;
	color: #B1C0C7;
}
/* Page */

#mainpage {
	width: 952px;
	margin: 0px auto;
	background: url(images/img03.jpg);
	height: auto;

}

#pagebg {
	background: url(images/img06.jpg) no-repeat bottom left;
	margin: 0px auto;
	min-height: 1px;
}

#page h1 {
	margin: 3px 0 10px 0;
}

#page #admin {
	border-top: 1px solid silver;
	margin-top: 10px;
	padding: 5px 0;
}

#page img {
	border: gray 2px inset;
}

#page img.noclass{
	border: gray 0px inset;
}

form {
}

input, textarea {
	font-size: .9em;
	font-weight: normal;
}

input.text {
}

input.button {
}

h1, h2, h3, h4, h5, h6 {

	color: #FFFFFF;
}

h1 {
	letter-spacing: .05em;
	font-size: 1.5em;
}

h2 {
	margin-top: 1em;
	letter-spacing: .05em;
	font-size: 1.3em;
}

h3 {
	margin-top: 1em;
	font-size: 1.2em;
}

p, ul, ol {
	margin-top: 1em;
	line-height: 140%;
}

ul {
	list-style: circle;
}

ul li {

}

blockquote {
	margin-top: 20px;
	padding: 5px;
	border-top: 1px solid #2e1010;
	border-bottom: 1px solid #2e1010;
	font-style: italic;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


img {
	border: 0px;
}

table.dude {
	width: 310px;
	border: 0px solid yellow;

}

table.dude td {
	padding: 1px 1px 1px 0px;
}

table.dude img {
	border: gray 2px inset;
}

table.wharrgarbl {
	width: 310px;
	border: 0px solid red;
}


#content {
	float: left;
	width: 574px;
	padding: 26px 20px 20px 46px;
	background: url(images/img04.jpg) no-repeat;
	min-height: 708px;
}

#sidepanel {
	float: right;
	width: 240px;
	padding: 26px 46px 20px 26px;
	background: url(images/img05.jpg) no-repeat;
	min-height: 708px;	
}

#postnavigation{
	margin-bottom: 10px;
	text-align: center;
	color: #9E9D89;
	border: 0px solid silver;
	padding: 3px;
}

/* Header */

#header {
	width: 952px;
	height: 94px;
	margin: 0 auto;
	background: url(images/img02.jpg);
}

#header h1, #header p {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	font-weight: bold;
	color: #151F5D;
}

#header h1 {
	padding-top: .35em;
	font-size: 3em;
}

#header a {
	text-decoration: none;
	color: #151F5D;
}


/*----------------------------
Menu
----------------------------*/

#apmlfilter {
	color: #000010;
}

#apmlfilter a {
	color: #bb0000;
	font-weight: bold;
}

#menu{
	width: 952px;
	padding: 5px;
	margin-bottom: 5px;
}

#menu a.apmlfilter
{	
	
	float:right;
	margin-right: 10px; 
	background:url(../../pics/apml.png) no-repeat left 1px; 
	padding-left:16px
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display:inline;
}

#menu ul li a{
	padding: 5px 20px 5px 20px;
	font-size: 10pt;
	font-weight: bold;
}

#menu ul li a.feed img{
	border: gray 0px inset;
	margin-right: 3px;
	margin-bottom: -2px;
}

#menu img {
	border: gray 2px inset;
}

/* Footer */

#footer {
	width: 952px;
	margin: 0px auto;
	padding: 25px 0px;
	background: url(images/img07.jpg) no-repeat;
	text-align: center;
	clear: both;
	
}

#footer p {
	margin: 0;
	font-size: .8em;
	color: #CFA39D;
}

#footer a {
	color: #CFA39D;
}
/*----------------------------
Widgets
----------------------------*/

div#widgetzone{
	padding: 0;
	background: none;
}

div#widgetzone .clear{
	clear: left;
}

div.widget{
	border-bottom: 1px dotted #748AAF;
	padding: 10px 15px;
	margin-bottom: 10px;
	z-index: 1;
	min-width: 1px;
}

div.widget .content{
	line-height: 16px;
	color: #B1C0C7;
}

div.widget h4{
	font-size: 12pt;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin: 0;
	margin-bottom: 5px;
	z-index: 0;
	color: #d9d9d9;
	letter-spacing: 1px;
}

div.widget a.edit{
	font-size: 9pt;
	font-weight: normal;
	float: right;
	z-index: 1;
}

div.widget a.delete{
	font-weight: bold;
	color: #999999;
	float: right;
	margin-left: 5px;
	z-index: 1;
	text-decoration: none;
}

div.widget a.delete:hover{
	color: black;
}

.widgetzone .widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

#widgetzone .widget ul li {
	margin-bottom: 3px;
}

#widgetzone div.search{
	background: none;
	border: none;
	padding-left: 10px;
}

.categorylist ul li a img {
	border: none;
	margin-right: 3px;
}

/*----------------------------
					 Blogroll
----------------------------*/

#blogroll ul {
	list-style-type: none;
	margin: 0 0 3px 0;
	padding: 0px;
}

#blogroll ul li ul li a {
	margin-left: 25px;
	color: #a9a9a9;
}

#blogroll ul li a img {
	border: none;
	margin-right: 3px;
}

/*----------------------------
					 Posts
----------------------------*/

div.post, .mceContentBody {
	border-bottom: 1px solid #000000;
	padding: 3px 10px;
	margin-bottom: 20px;
	line-height: 17px;
}

div.post h1, .mceContentBody h1 {
	margin: 5px 0 0 0;
}

div.post .author {
	color: #748AAF;
	font-size: 8pt;
	float: left;
	text-transform: capitalize;
	margin-top:3px;
}

div.post .pubDate {
	color: #748AAF;
	font-size: 8pt;
	float: right;
	margin-top:3px;
}

div.post .text {
	margin-top: 30px;
}

div.post .text h2, h4, h5, h6 {
	margin-bottom: -10px;
}

div.post .text h3 {
	font-size: 11pt;
}

div.post .footer {
	text-align: right;
	border-top: 1px dotted silver;
	padding-top: 4px;
	padding-bottom: 2px;
}

div.post .footer img {
	border: gray 0px inset;
}

div.post .bottom {
	margin-bottom: 45px;
}

div.post .categories {
	margin-bottom: 5px;
	float: right;
}

div.post .tags {
	float: left;
	margin-bottom: 5px;
}

div.post .text a[href^="http:"] {
	background: url(../../pics/remote.gif) right top no-repeat;
	padding-right: 10px;
  white-space: nowrap;
}

div.post img {
	border: 2px inset gray;
	margin: 5px;
}

/*----------------------------
			Related Posts
----------------------------*/

#relatedPosts div {
	padding: 5px 10px 10px 10px;
	border-bottom: 1px dotted #748AAF;
}

#relatedPosts h1 {
	margin: 0 0 10px 0;
}

#relatedPosts a {
	display: block;
	margin-top: 5px;
}

#relatedPosts span {
	color: #999999;
	text-indent: 10px;
	font-size: 9pt;
}

/*----------------------------
Recent posts
----------------------------*/

ul.recentPosts li{
	padding-bottom: 10px;
}

ul.recentPosts li a{
	font-weight: bold;
}

ul.recentPosts li span{
	display: block;
	text-indent: 10px;
	text-transform: none;
}

/*----------------------------
Recent comments
----------------------------*/

ul.recentComments li{
	padding-bottom: 10px;
	text-transform: none;
}

ul.recentComments li a.postTitle{
	font-weight: bold;
}

/*----------------------------
Social bookmarks
----------------------------*/



/*----------------------------
Comments
----------------------------*/
#commentlist {
	margin: 0px;
}

.vcard {
	padding: 0px 0px 5px 0px;
}

.comment {
	border: 1px solid #000000;
	padding: 3px 10px;
	margin-bottom: 10px;
	background-color:#4F0000;
}

.comment .date {
	font-size: 9pt;
	color: #748AAF;
	text-align: right;
	margin: 0;
	padding: 3px 0px;
	border-bottom: 1px dotted #748AAF;
}

.comment .author {
	margin: 0;
	padding: 3px 0px;
	border-top: 1px dotted silver;
}

.self {
	border: 1px solid black;
	background-color:#3f0000;
}

.comment .gravatar {
	float: left;
	clear: both;
	margin: 5px 10px 5px 0;
}

#commenttoggle {
	float:right;
	background-color:#4F0000;
	border: 1px solid #000000;
	width:20px;
	height:20px;
	padding:0px;
	text-decoration:none;
	text-align:center;
}

#trackbacktoggle {
	float:right;
	background-color:#4F0000;
	border: 1px solid #000000;
	width:20px;
	height:20px;
	text-decoration:none;
	text-align:center;
}

.comment .gravatar img {
	height: 80px;
	width: 80px;
	border: gray 2px inset;
}

.comment .content {
	min-height: 85px;
	margin: 5px;
	margin-left: 90px;
}

.comment cite{
	font-family: Monospace;
	font-style: normal;
}

.comment img.flag {
	position: relative;
	top: 2px;
}

.commentForm {
	margin-top: 30px;
	padding: 5px;
	background-color: transparent;
}

.commentForm label {
	float: left;
	display: block;
	width: 50px;
	margin-top: 4px;
}

.commentForm input {
	padding: 2px;
	width: 300px;
}

#commentlist #comment-form {
	border: solid 1px #000000;
	background: transparent;
	padding: 10px;
	margin: 10px 0;
}

.commentForm input#cbNotify {
	padding: 0px;
}

.commentForm input.btn {
	width: 150px;
}

.commentForm textarea {
	width: 100%;
	height: 200px;
	border: gray 2px inset;
}

#commentMenu{
	color: #c00000;
	padding: 0;
	margin:0;
	clear:both;
}

#commentMenu li{
	float:left;
	border:1px solid black;
	border-bottom: transparent;
	margin:0;
	list-style:none;
	margin-right:5px;
	padding: 3px 8px;	
	cursor:pointer;
	position:relative;
	top: 2px;
	background:#d8d8d8;
}

#commentMenu li.selected{
	border: 1px solid #000000;
}

#commentMenu #preview{
	border: 1px solid #000000;
}

#commentPreview{
	display:none;
	clear:both;
	min-height: 150px;
}

.success {
	color: #FFFF00;
	font-weight: bold;
	text-align: center;
}

.commentForm .bbcode {
    font-size:9pt;
    float:right;
    position:relative;
    top:20px;
    padding: 3px;
}

.bbcode a {
    color: #000000;
    margin: 1px;
    padding: 1px 3px 1px 3px;
    background: gray;
    border: 1px solid #000000;
}



/*----------------------------
Archive
----------------------------*/

#archive {
	border-bottom: 1px dotted #000000;
	padding: 10px;
}

#archive h1 {
	margin: 0;
	border-bottom: 1px dotted #748AAF;
	padding-bottom: 9px;
}

#archive h2 {
	border-bottom: 1px solid silver;
	padding-bottom: 4px;
	font-size: 12pt;
	margin-bottom: 10px;
}

#archive h2 img {
	margin-right: 3px;
}

#archive ul {
	list-style-type: square;
	margin: 0 10px;
	padding: 10px;
}

#archive ul li {
	margin-right: 20px;
}

#archive table{
	width: 100%;	
	border-collapse: collapse;
}

#archive table td, #archive table th{
	text-align:left;
}

#archive table td{
	text-align:left;
	border-bottom: 1px solid #D8D8D8;
	padding: 2px 0;
}

#archive .date{
	width: 125px;
}

#archive .comments{
	width: 70px;
	text-align: center;
}

#archive .rating{
	width: 70px;
	text-align: center;
}

/*----------------------------
Search
----------------------------*/

#searchbox {
	text-align:center;
	vertical-align: top;
}

#searchbox input {
	font-size: 0.75em;	
	padding: 0px;
	margin: 1px;
}

#searchbox #searchbutton {
	margin-left: 0px;
	margin-top: 3px;
	padding: 4px 6px 4px 6px;
	font-size: 75%;	
}

#searchbox #searchfield {
	width: 145px;
	padding: 4px 2px 2px 2px;
	margin-right: 5px;
}

#searchcomments {
	vertical-align:middle;
}

.loginbox {
	width: 275px;
	margin: 0px auto;
}
/*----------------------------
Search page
----------------------------*/

#searchpage{
	margin-bottom: 30px;
	text-align: center;
}

#searchpage  input {
	padding: 4px 2px 2px 2px;	
	margin: 1px;
}

#searchpage input#q{
	width: 490px;
	margin: 1px;	
}

#searchpage input#comment{
	clear: both;
	padding: 0px;
	vertical-align: middle;
}

.searchresult{
	margin-bottom: 20px;
}

.searchresult a{
	font-weight: bold;
}

.searchresult span.text{
	clear: both;
	display: block;
	margin: 3px 0;
}

.searchresult span.type{
	display: block;
}

.searchresult span.url{
	color: #fcfcfc;
}

.searchpage ul.paging{
 list-style-type: none;
 margin:0px;
 margin-bottom: 20px;
 padding:0px;
}

.searchpage ul.paging li{
 display: inline;
 border: 1px solid gray; 
 background: #f1f1f1;
 margin-right: 5px;
}

.searchpage ul.paging li a{
 padding: 5px 8px;
}

.searchpage ul.paging li.active{
 background: #f1f1f1;
 border: 1px solid black;
}

/*----------------------------
			Search on search
----------------------------*/

#searchonsearch {
	background: #091132;
	padding: 5px 10px;
	margin-bottom: 20px;
	border: 1px solid #000000;
}

#searchonsearch h3 {
	margin: 3px;
	font-size: 11pt;
}

#searchonsearch ol li {
	margin: 2px 0;
}

/*----------------------------
				Month list
----------------------------*/

ul#monthList{
	font-weight: bold;
}

ul#monthList ul li{
	margin-left: 20px;
	font-weight: normal;
}

ul#monthList li.year{
  cursor: pointer;
}

ul#monthList ul{
	display: none;
}

ul#monthList ul.open{
	display: block;
}

/*----------------------------
				 Tag cloud
----------------------------*/

.tagcloud {
	margin-bottom: 10px;
	white-space: normal;
}

.tagcloud li {
	display: inline;
}

.tagcloud a {
	margin-right: 5px;
	display: inline;
	line-height: 110%;	
}

.tagcloud a.biggest {
	font-size: 14pt;
	font-weight: bold;
}

.tagcloud a.big {
	font-size: 12pt;
}

.tagcloud a.medium {
	font-size: 8pt;
}

.tagcloud a.small {
	font-size: 7pt;
}

.tagcloud a.smallest {
	font-size: 6pt;
}

/*----------------------------
 Calendar
----------------------------*/

#calendarContainer {
	text-transform: capitalize;
	margin: 0 auto;
}

.calendar {
	border: none;
	margin: 0 auto;
}

.calendar .weekend {
	background-color: #550000;
}

.calendar .other {
	color: #555555;
}

.calendar a.exist {
	display: block;
	color: #900000;
	font-weight: bold;
	background-color: #000000;
}

.calendar td {
	vertical-align: top;

}

/*----------------------------
					Star rater
----------------------------*/

.rating{
	margin-bottom: 10px;
}

.rating p{
	display: inline;
	position: relative;
	top: 14px;
	left: 55px;
}

.star-rating {
	position: relative;
	width: 125px;
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: left top;
}

.star-rating li {
	display: inline;
}

.star-rating a, .star-rating .current-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000em;
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border: none;
}

.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
	background-position: left bottom;
}

.star-rating a.one-star {
	width: 20%;
	z-index: 6;
}

.star-rating a.two-stars {
	width: 40%;
	z-index: 5;
}

.star-rating a.three-stars {
	width: 60%;
	z-index: 4;
}
.star-rating a.four-stars {
	width: 80%;
	z-index: 3;
}
.star-rating a.five-stars {
	width: 100%;
	z-index: 2;
}
.star-rating .current-rating {
	z-index: 1;
	background-position: left center;
}

/* smaller star */
.small-star {
	width: 50px;
	height: 10px;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
	background-image: url(../../pics/star_small.gif);
	line-height: 10px;
	height: 10px;
}

/*----------------------------
Contact page
----------------------------*/

#contact{
	padding: 10px;
	border: 1px dotted #000000;
}

#contact h1{
	margin-top: 0;
}

#contact label{
	display: block;
	padding-top: 5px;	
}

#contact input.field{
	width: 410px;
	padding: 1px;
}

#contact textarea{
	display: block;	
	overflow: auto;
	width: 75%;
	height: 150px;
	margin: 0;
}

/*----------------------------
Syntax highlighter
----------------------------*/

.code
{
	font-size: 9pt;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #F1F1F1;
  line-height: normal;
}

.code p{
	padding: 5px;
}

.code .rem { color: #008000; }

.code .kwrd { color: #0000ff; }

.code .str { color: #006080; }

.code .op { color: #0000c0; }

.code .preproc { color: #0000ff; }

.code .asp { background-color: #ffff00; }

.code .html { color: #800000; }

.code .attr { color: #ff0000; }

.code .alt { background-color: #f4f4f4; }

.code .lnum { color: #606060;}

/*----------------------------
					XFN tags
----------------------------*/

div.post .text a[rel] {
	padding-right:11px;
	background-repeat: no-repeat;
	background-position: right center;
}
div.post .text a[rel="me"] {	
	background-image:url('../../pics/xfn/me.gif');
}

/*-------- [ These should cascade to pick the correct icon for the contact ]--*/

/*-------- [ Normal contacts ]--*/
div.post .text a[rel~="contact"] ,
div.post .text a[rel~="acquaintance"],
div.post .text a[rel~="friend"] {
	background-image:url('../../pics/xfn/contact.gif');
}
/*-------- [ Normal contacts youve met ]--*/
div.post .text a[rel~="contact"][rel~="met"] ,
div.post .text a[rel~="acquaintance"][rel~="met"] ,
div.post .text a[rel~="friend"][rel~="met"] {
	background-image:url('../../pics/xfn/contactMet.gif');
}

/*-------- [ Colleague and co worker icon more important than contact ]--*/
div.post .text a[rel~="colleague"] ,
div.post .text a[rel~="co-worker"] {
	background-image:url('../../pics/xfn/colleague.gif');
}
/*-------- [ Colleague and co worker icon when met ]--*/
div.post .text a[rel~="colleague"][rel~="met"] ,
div.post .text a[rel~="co-worker"][rel~="met"] {
	background-image:url('../../pics/xfn/colleagueMet.gif');
}

/*-------- [ Sweethearts are more important than work!!! ]--*/
div.post .text a[rel~="muse"] ,
div.post .text a[rel~="crush"] ,  
div.post .text a[rel~="date"] ,
a[rel~="sweetheart"] {
	background-image:url('../../pics/xfn/sweet.gif');
}
/*-------- [ ...and if youve met them thats even better ]--*/
div.post .text a[rel~="muse"][rel~="met"] ,
div.post .text a[rel~="crush"][rel~="met"] ,  
div.post .text a[rel~="date"][rel~="met"] ,
div.post .text a[rel~="sweetheart"][rel~="met"] {
	background-image:url('../../pics/xfn/sweetMet.gif');
}

/*-------- Border for Silverlight SlideShow ----*/
#silverlightslideshow_0  {
		width: 574px;
		border: gray 2px inset;
		margin-left: 5px;
		margin-right: 0px;
		padding: 0px;
}

/*----------------------------
					Post Pager
----------------------------*/
#PostPager {
    display: block; 
    text-align: center; 
}
#PostPager li {
    display:inline; 
    border: 0px solid #ccc; 
    margin: 1px; 
    padding: 2px; 
}
#PostPager li a {
    padding: 3px 5px; 
    text-decoration:none;
	font-weight: normal;
}

#PostPager li a:hover {
    padding: 2px 4px; 
    text-decoration:underline; 
	color: #5C80B1;
	background-color: #4F0000;
	border: 1px solid #000000;
	font-weight: normal;
}

#PostPager .PagerLinkCurrent {
    background-color: #5C80B1; 
    color: #FFFFFF; 
    padding: 2px 4px; 
    border: 1px solid #000000; 
}
#PostPager .PagerLinkCurrent li {
    padding: 3px 5px; 
}
#PostPager .PagerLinkDisabled {
    color: #ccc; 
    padding: 3px 5px; 
}
#PostPager .PagerEllipses {
    border:0; 
    padding: 3px 5px;  
}
#commentPreview {
	display:none;
	clear:both;
	min-height: 150px;
}
.LoginRequired {
    margin: 10px 0 10px 0;
}